[Unit]
Description=Nodered
After=network-online.target
After=local-fs.target

[Container]
ContainerName=nodered
Image=docker.io/nodered/node-red
Volume=%h/nodered-data:/data:Z,U
PublishPort=8080:1880

[Service]
ExecStartPre=mkdir -p %h/nodered-data/
TimeoutStartSec=90
Restart=unless-stopped

[Install]
WantedBy=default.target
